<div class="note-section row">
    <div class="col-lg-6">
        <h1>Welcome back, {{user}}</h1>
        <h4>Add a note</h4>
        <form id="add" class="row">
            <div class="text col col-9">
                <textarea type="text" name="note"></textarea>
            </div>
            <div class="col col-3">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>

    <div class="noteContainer col-lg-6">
        <h4 >Notes</h4>
        <div id="notes">
            {{#each notes}}
            <div class="note">
                <span class="input"><textarea data-id="{{ @index }}">{{ this }}</textarea></span>

                <span class="close"><button class="remove" data-id="{{ @index }}"><i class="fa fa-times"
                        aria-hidden="true"></i></button>
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>