<h1>
    Welcome to Your NoteTaking Space
</h1>
<form action="/postNotes">
    <label for="heading">Heading:</label><br>
    <input type="text" id="heading" name="fname" placeholder="Heading"><br>
    <label for="content">Content:</label><br>
    <input type="text" id="content" name="lname" placeholder="Content"><br><br>
    <input type="submit" value="Submit">
    </form> 
<div class="notesContainer">
        <div class="notes">
            <div class="note-header"><span class="note-title">This is title</span><span class="note-cross"><i class="fas fa-times"></i></span></div>
            <div class="note-body">This is content</div>
        </div>
</div>
