*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    font-family: 'Caveat', cursive;

}
.note-section{
    margin: 100px;
}
.text{
    border: 1px solid black;
}
h4{
    padding: 20px;
}
textarea{
    width: 260px;
    padding: 10px;
    font-size: 24px;
    border: none;
    overflow: auto;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
.note{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: #f0c806;
    border-radius: 8px;
    width: 300px;
    margin: 0 10px 20px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    transition: all 0.2s;
    cursor: pointer;
    font-family: 'Caveat', cursive;
}
.note:hover{
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
}

.remove{
    margin-top: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    transition: all 0.3s;
    padding: 0;
}

.remove:hover{
    background-color: rgba(0,0,0,0.2);
}
.remove:focus{
    box-shadow: inset 2px 3px 0px rgba(0,0,0,0.8);
}



